.stars {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 4px;

  gap: 18px;
}

.stars__icon {
  display: block;
}

.stars__icon--full {
  color: #ffd336;
}

.stars__icon--empty {
  color: #c4c4c4;
}
